.top{
  background: black;
  width: -webkit-fill-available;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .title{
    text-align: center;
    color: white;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    h1{
      font-family: League Gothic, sans-serif;
      font-size: 96px;
    }
    h2{
      font-family: League Spartan, sans-serif;
      font-size: 32px;
      letter-spacing: 11.52px;
    }
  }
}