.top {
  background: black;
  width: -webkit-fill-available;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .title {
    text-align: center;
    color: white;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    pointer-events: none;

    h1 {
      font-family: League Gothic, sans-serif;
      font-size: 96px;
    }

    h2 {
      font-family: League Spartan, sans-serif;
      font-size: 32px;
      letter-spacing: 11.52px;
      display: inline-block; // Nécessaire pour les animations de transformation
      transition: opacity 0.5s ease;
      opacity: 1; // L'opacité initiale
    }

    .animated-h2.fade-out {
      opacity: 0; // Animation de disparition
      transform: rotateY(90deg); // Rotation de 90 degrés pour l'effet de roulette
    }

    .animated-h2.fade-in {
      opacity: 0; // L'opacité initiale pour l'animation d'entrée
      transform: rotateY(-90deg); // Rotation de -90 degrés pour l'effet de roulette
      animation: fadeIn 0.5s forwards; // Animation d'entrée
    }

    @keyframes fadeIn {
      0% {
        opacity: 0;
        transform: rotateY(-90deg);
      }
      100% {
        opacity: 1;
        transform: rotateY(0deg);
      }
    }
  }
}